.game {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  align-items: center;
  justify-items: center;

}
.square{
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 100px ;
  align-items: center;
  justify-items: center;
  border: 2px solid green;
  width: 100px;
  height: 100px;
  font-size: 100px;
  font-family: sans-serif;
}